<div>
  <%= link_to tweet.user.email, user_path(tweet.user) %>
  <p> <%= tweet.content %></p>
  <p> <%= link_to 'Like', tweet_like_path(tweet) %> count: <%= likes_count[tweet.id].nil? ? 0 : likes_count[tweet.id] %></p>
  <%= form_with url: tweet_like_path(tweet), model: tweet, local: true, method: :post do |f|%>
    <%= f.submit "Like" %>
  <% end %>
  <%= form_with url: tweet_like_path(tweet), model: tweet, local: true, method: :delete do |f|%>
    <%= f.submit "Unlike" %>
  <% end %>
</div>