<div>
  <%= link_to tweet.user.username, user_path(tweet.user) %>
  <span><%= tweet.created_at %></span>
  <% if tweet.tweet_pic.attached? %>
    <%= image_tag tweet.tweet_pic, alt: 'tweet_pic' %>
  <% end %>
  <p> <%= tweet.content %></p>
  <div><%= likes_count[tweet.id].nil? ? 0 : likes_count[tweet.id] %> <%= link_to 'Like', tweet_like_path(tweet) %></div>
  <%= form_with url: tweet_like_path(tweet), model: tweet, local: true, method: :post do |f|%>
    <%= f.submit "Like" %>
  <% end %>
  <%= form_with url: tweet_like_path(tweet), model: tweet, local: true, method: :delete do |f|%>
    <%= f.submit "Unlike" %>
  <% end %>
  <%= link_to 'Reply(show)', tweet_path(tweet) %>
</div>