<div class="card mb-4" >
  <div class="card-body">
    <div class="card-title">
      <span class="fs-4 fw-bold"><%= link_to tweet.user.username, user_path(tweet.user) %></span>
      <span class="fs-6 text-body-secondary"><%= tweet.created_at %></span>
    </div>
    <p class="fs-5"> <%= tweet.content %></p>
    <% if tweet.tweet_pic.attached? %>
      <%= image_tag tweet.tweet_pic, alt: 'tweet_pic', style: "object-fit: cover; max-height: 600px; width: 100%;", class: "mb-3"%>
    <% end %>
    <div class="d-flex">
      <div class="input-group mb-1">
        <%= link_to likes_count[tweet.id].nil? ? 0 : likes_count[tweet.id], tweet_like_path(tweet), class: "input-group-text text-decoration-none" %>
        <%= link_to 'Like', tweet_like_path(tweet),data: {turbo_method: :post}, class: "btn btn-outline-primary" %>
        <%= link_to 'Unlike', tweet_like_path(tweet),data: {turbo_method: :delete}, class: "btn btn-outline-danger" %>
      </div>
      <%= link_to 'Reply', tweet_path(tweet), class: "btn btn-primary" %>
    </div>
  </div>
</div>