<%= render  partial: "tweet_error", locals: {tweet: tweet} %>
<%= form_with model: tweet, local: true, html: {"data-controller": "character-count"} do |f|%>
  <%= f.fields_for :parent, parent do |parent_f| %>
    <%= parent_f.hidden_field :id, value: parent.id %>
  <% end %>
  <div class="d-flex flex-column align-items-end">
    <%= f.text_area :content, class: "form-control mb-2", "data-action": "character-count#update", "data-character-count-target": "textarea" %>
    <div class="text-secondary p-1", data-character-count-target="counter"></div>
  </div>
  <div class="input-group mb-3">
    <%= f.file_field :tweet_pic, class: "form-control" %>
    <%= f.submit "Reply", class: "btn btn-primary" %>
  </div>
<% end %>