<h1 class="mb-3">Settings</h1>
<div class="mb-3">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize_to_limit: [256, 256]).processed, alt: 'user_avatar', height: '256px', width: '256px', style: "object-fit: cover", class: "rounded-circle" %>
  <% else %>
    <%= image_tag "no_avatar.svg", alt: 'no_avatar.svg', height: '256', width: '256', style: "object-fit: cover", class: "rounded-circle" %>
  <% end %>
</div>
<div class="mb-3 fs-3">
  <%= current_user.username %>
</div>
<% if current_user.errors[:avatar].any? %>
  <div class="alert alert-primary mb-3">
    <% current_user.errors.full_messages_for(:avatar).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>
<%= form_with url: 'settings', model: current_user, method: :patch, class: "mb-3" do |f|%>
  <div class="input-group">
    <%= f.file_field :avatar, class: "form-control"%>
    <%= f.submit "Update Avatar", class: "btn btn-primary" %>
  </div>
<% end %>
<% if current_user.errors[:username].any? %>
  <div class="alert alert-primary">
    <% current_user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>
<%= form_with url: 'settings', model: current_user, method: :patch, class: "mb-3" do |f|%>
  <div class="input-group">
    <%= f.text_field :username, placeholder: 'Enter your new username', value: '', class: "form-control" %>
    <%= f.submit "Update Username", class: "btn btn-primary" %>
  </div>
<% end %>
<% if current_user.errors[:bio].any? %>
  <div class="alert alert-primary">
    <% current_user.errors.full_messages_for(:bio).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>
<%= form_with url: 'settings', model: current_user, method: :patch do |f|%>
  <div class="input-group">
    <%= f.text_field :bio, placeholder: 'about me', value: current_user.bio, class: "form-control" %>
    <%= f.submit "Update Bio", class: "btn btn-primary" %>
  </div>
<% end %>