<h1>Settings</h1>
<% if current_user.errors[:avatar].any? %>
  <% current_user.errors.full_messages_for(:avatar).each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>
<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, alt: 'current_user.avatar' %>
<% else %>
  <%= image_tag "no_avatar.svg", alt: 'no_avatar.svg' %>
<% end %>
<%= form_with url: 'settings', model: current_user, method: :patch do |f|%>
  <%= f.label :avatar, "Update Avatar" %>
  <%= f.file_field :avatar %>
  <%= f.submit "Update Avatar" %>
<% end %>
<% if current_user.errors[:username].any? %>
  <% current_user.errors.full_messages_for(:username).each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>
<div>Current Username: <%= current_user.username %></div>
<%= form_with url: 'settings', model: current_user, method: :patch do |f|%>
  <%= f.label :username, 'New Username' %>
  <%= f.text_field :username, placeholder: 'Enter your new username', value: '' %>
  <%= f.submit "Update Username" %>
<% end %>