<h1>User show</h1>
<p>User id: <%= @user.id %></p>
<p>User email: <%= @user.email %></p>
<% if current_user.followings.include?(@user) %>
  <p>following</p>
<% end %>
<%= form_with url: "/follows", model: @user, local: true, method: :post do |f|%>
  <%= f.hidden_field :id, value: @user.id %>
  <%= f.submit "Follow" %>
<% end %>
<%= form_with url: "/follows", model: @user, local: true, method: :delete do |f|%>
  <%= f.hidden_field :id, value: @user.id %>
  <%= f.submit "Unfollow" %>
<% end %>