<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, alt: 'current_user.avatar' %>
<% else %>
  <%= image_tag "no_avatar.svg", alt: 'no_avatar.svg' %>
<% end %>
<p>User id: <%= @user.id %></p>
<p>User username: <%= @user.username %></p>
<% if current_user.following.include?(@user) %>
  <p>Following</p>
<% end %>
<div>
  <span><%= @user.following.count %> <%= link_to 'Following', user_following_path(@user) %></span>
  <span><%= @user.followers.count %> <%= link_to 'Followers', user_followers_path(@user) %></span>
  <span><%= @user.likes.count %> <%= link_to 'Likes', user_likes_path(@user) %></span>
</div>
<%= link_to 'Follow', user_follow_path(@user),data: {turbo_method: :post}, class: "btn btn-primary" %>
<%= link_to 'Unfollow', user_follow_path(@user),data: {turbo_method: :delete}, class: "btn btn-danger" %>
<% unless @user.tweets.empty? %>
  <h2>Tweets</h2>
  <%= render  partial: "tweets/tweet", collection: @user.tweets, as: :tweet, locals: {likes_count: @likes_count} %>
<% else %>
  <h2>No Tweets</h2>
<% end %>