<h1>User show</h1>
<p>User id: <%= @user.id %></p>
<p>User username: <%= @user.username %></p>
<% if current_user.following.include?(@user) %>
  <p>Following</p>
<% end %>
<%= link_to 'Following', user_following_path(@user) %>
<%= link_to 'Followers', user_followers_path(@user) %>
<%= link_to 'Likes', user_likes_path(@user) %>
<%= form_with url: user_follow_path(@user), model: @user, local: true, method: :post do |f|%>
  <%= f.submit "Follow" %>
<% end %>
<%= form_with url: user_follow_path(@user), model: @user, local: true, method: :delete do |f|%>
  <%= f.submit "Unfollow" %>
<% end %>
<% unless @user.tweets.empty? %>
  <h2>Tweets</h2>
  <%= render  partial: "tweets/tweet", collection: @user.tweets, as: :tweet, locals: {likes_count: @likes_count} %>
<% else %>
  <h2>No Tweets</h2>
<% end %>